canvas {
    border:5px solid #0a1f40;
    /* background-color: #F5A373; */
    margin: 0;
    background-image: url("img/background2.png")
}

#home-page {
    padding-top: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: red;
    background-image: url("img/background1.jpg");
    height: 637px;
}

.judul {
    color: rgba(132,125,117);
    font-size: 90px;
    margin-top: 150px;
}

.button {
    margin-top: 50px;
}
